.men{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* width: 100%;
    height: 100vh; 
     */
}




    /* .main-men{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    } */

    /* .wishlist-icon .heart{
    width: 20%;
    height: 5vh;
    position: absolute;
    left: 135px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: red;
  } */
  .wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 40px;
    color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .wishlist:hover{


    transition: all 0.3s ease-in-out;
  
  }
  
    .box{
    width: 20%;
    height: auto;
    align-items: center;
    border: 2px solid #e0f0f5;
    border-radius: 8px;
    margin: 5px;
    position: relative;
    }
  
    .box:hover{
    transform: scale(1.02);
    transition: all .3s ease-in-out;
    }
  
  
    .img1 {
    margin-left: 55px;
    width: 65%;
    height: 40vh;
    border-radius: 10px;
    overflow: hidden;
    object-fit: contain;
    }
  
    .img1:hover{
    transform:scale(1.03);
    transition: all .3s ease-in-out;
    transition: 0.9ms;
    }
  
    .info{
      width: 100%;
      height: 35%;
      margin: 5px;
      text-align: center;
      
  }
  
  .cart{
    width: 20%;
    height: 4vh;
    margin-right: 10px;
    display: none;
  }
  
  .add-to-cart{
    font-size: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(0, 0, 0);
    color: white;
    margin-left: 15px;
    /* margin-right: 15px; */
    margin-bottom: 8px;
    width: 90%;
    height: 4vh;
    border: 2px solid black ;
    border-radius: 5px;
  }
  
  .add-to-cart:hover{
    background-color: #f5f5f5;
    color: black;
    letter-spacing: 1.1px;
    /* width: 60%; */
    transform: scale(1.1);
    transition: 0.9ms;
  }
  
  .infos{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }
  
  
  
  

/* .Women img{
    object-fit: cover;
    height: 30vh;
}

.Women div{
    width: 24%;
    height: 50vh;
} */